                                        /* nvbr strt here */
:root{
    --body-color: #fff;
    --nav-color: #fff;
    --bg-color: #fff;
    --post-color: #8FBC8F;
    --spn-color: #000;
    --shdow-color:rgb(189, 185, 185);
    --i-color:#8FBC8F;
    --smltxt-color:#444444;
}
.drk-theme{
    --body-color: #18191A;
    --nav-color: #18191A;
    --bg-color: #18191A;
    --post-color: #8FBC8F;
    --spn-color: #fff;
    --shdow-color:#18191A;
    --i-color:#8FBC8F;
    --smltxt-color:#fff;

}                                       
nav{
    grid-area: nv;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
    background: var(--nav-color);
}

                                        /* left nv strt here */
.left-nav{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
i.fa-solid.fa-hashtag {
    font-size: x-large;
    color: darkseagreen;
}

.srcbx{
    position: relative;
    height: 30px;
}
.srcbx input{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    
}
.srcbx input:focus{
    outline: none;
}
.srcbx i{
    position: absolute;
    color: darkseagreen;
}
#left{
    top: 6.5px;
    left: 8px;
    font-size: large;
}

                                            /* middlenv strt here */
.middle-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    flex-basis: 34%;
    padding-right: 3px;
    /* width: 50%; */
    /* padding-right: 140px; */
}
.middle-nav i{
    font-size: large;
    color: darkseagreen;
}

                                            /* r8 nv strt here */
.r8-nav {
    display: flex;
    margin-left: auto;
    align-content: center;
    justify-content:end;
    align-items: center;
    gap: 15px;
    margin-right: 5px;
}
.r8-nav i{
    font-size: x-large;
    color: darkseagreen;
}
.r8-nav img{
    border-radius: 50%;
    cursor: pointer;
    margin-top: 2px;
}

                                                   /* settings menu */
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 250px;
    height: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 55px;
    right: 2px;
    max-height: 0;
    transition:  max-height 0.3s;
}
.settings-menu-height{
    max-height: 360px;
}
.settingsmenuinner{
       /* padding: 20px; */
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 8px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       height: 100%;
} 
.settingsmenuinner a:hover{
    background: rgb(158, 158, 158) ;
}
.settingsmenuinner a{
    text-decoration: none;
    color: var(--spn-color);
}    
.userprofilestm{
    display: flex;
    align-items: center;
    margin:10px 0;
}
.userprofilestm .upstm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px;
}
.userprofilest{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.userprofilest .upest{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
.userprofilest .upest .pp{
    font-size: x-small;
}


                                                    /* messenger window */
.messenger-ui{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 550px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow:hidden;
    top: 55px;
    right: 5px;
    max-height: 0;
    transition:  max-height 0.3s;
    padding: 0px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.messenger-ui-height{
    max-height: 550px;
}
.msgr-scroll{
    height: 530px;
    overflow-y:scroll ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8px;
}
.msgr-up-icon{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.msgr-up-icon span{
    font-size: 1.5rem;
    line-height: 28px;
    font-weight: bolder;
    color: var(--spn-color);
}
.msgr-up-icon i{
    width: 20px;
    height: 20px;
}
.msgr-up-i{
    display:flex;
    gap: 15px;
    margin-left: auto;
    align-items: center;
}


.msgr-src{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.msgr-src i{
    font-size: 20px;
}
.msgr-src input{
    height: 20px;
    border: none;
    font-weight: bold;
}



.msgr-msg{
    display: grid;
    gap: 10px;
}
.msgr-msg a{
   text-decoration: none;
}
.msgr-usr{
    display: flex;
    gap: 10px;
    align-items: center;
}
.msgr-img img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.imggroup{
    width: 50px;
    height: 50px;
    position: relative;
}
.imggroup img{
    width: 30px;
    height: 30px;
}
.imggroup .upr{
    position: absolute;
    top: 0;
    right: 0;
}
.imggroup .dnl{
    position: absolute;
    bottom: 0;
    left: 0;
}


.msgr-txt{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.msgr-usr span{
    font-size: .8125rem;
    color:var(--smltxt-color);
}
.msgr-usr .msgr-usr-nme{
    font-size: 1.1rem;
    color: var(--spn-color);
}

.seeall {
    /* margin-top: -40px; */
    padding: 20px 0;
    text-align: center;
    background: var(--bg-color);

}
.seeall a{
    text-decoration: none;
    color: var(--spn-color);
    font-size: 18px;
}
.seeall a:hover{
    text-decoration: underline;
    color: var(--i-color);
}

                                            /* drk button */
#drkbtn{
   position: absolute;
   top: 30px;
   right: 20px;
   background: #ccc;
   width: 45px;
   border-radius: 15px;
   padding: 2px 3px;
   cursor: pointer;
   display: flex; 
   transition:  padding-left 0.5s, background 0.5s ;
}
#drkbtn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#drkbtn.drkbtn-on{
    padding-left: 23px;
    background: #000;

}                                           
*{
    font-family: 'Work Sans', sans-serif;
}



                                               /* nvbr ends here */

@media screen and (max-width: 450px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    nav .middle-nav{
        display: none;
    }
    .left-nav{
        flex-basis: 35%;
    }
    .r8-nav{
        flex-basis: 63%;
    }
}                                              